body{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Myriad Pro';
}
html{
    font-size: 16px;
}
.container{
    margin: 0 1.5rem;
}
/* Global classes */
.orange{
    color: #ffc600;
}
.circle{
    border: 3px solid #ffc600;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
}
/* Styles for header */
header{
    background-image: url('../img/Layer\ 5@1X.png');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 654px;
}
.heading-title{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    padding-top: 70px;
}
.heading-title span{
    color: #ffc600;
}
.menu a{
    color: #ffc600;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.menu li{
    list-style: none;
}
.menu a:hover{
    color: white;
    cursor: pointer;
    text-decoration: solid 2px underline #ffc600;
}
@media screen and (max-width: 1190px) {
    .menu ul{
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .menu ul{
        width: 90%;
    }
}
/* Styles for section about */
.row{
    padding-top: 36px;
}
.col-sm:first-of-type{
    color: #717171;
    font-size: 3rem;
    padding-left: 137px;
}
.col-sm:first-of-type p{
    position: relative;
    top: 50px;
    left: 5px;
}
.col-sm h1{
    font-size: 5rem;
    color: black;
}
.col-sm small{
    font-size: 2rem;
}
.col-sm span{
    color: #ffc600;
}
.col-sm:last-of-type p{
    font-size: .8rem;
}
.col-sm:last-of-type p:first-child{
    font-style: italic;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 92px;
    width: 100%;
}
.wrapper img{
    position: relative;
    top: 7px;
}
.development, .design, .creation{
    text-align: -webkit-center;
}
.development, .design, .creation, h6{
    padding: 1rem 0;
}
.development p, .design p, .creation p{
    font-size: 10px;
}
/* Styles for future projects section */
.projects h1{
    font-size: 3.1rem;
    margin-bottom: -10px;
}
.line{
    width: 195px;
    padding-left: 100px;
    margin-left: 150px;
}
.submenu{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: -30px;
}
.submenu li{
    list-style: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}
.submenu li:hover{
    text-decoration: solid 2px underline #ffc600;
    cursor: pointer;
}
@media screen and (max-width: 991px) {
    .submenu{
        width: 100%;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    padding: 1rem 0;
}
.grid-item img{
    width: 100%;
    height: 100%;
}
/* Styles for strategic process section */
.strategic h1{
    font-size: 3.1rem;
    margin-bottom: -10px;
    margin-top: 66px;
}
.strategic p{
    font-size: .8rem;
}
.strategic p:first-of-type{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}
.grid-container-process{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1fr;
}
.grid-item h1, p{
    text-align: left;
    padding-left: 20px;
}
.grid-item h1{
    margin: 2rem;
}
.grid-item small{
    font-size: 2rem;
}
/* Styles for services provided section */
.services-provided{
    background-image: url('../img/photodraw.ru-50787.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.services h1{
    font-size: 3.1rem;
    margin-bottom: -10px;
    margin-top: 66px;
    color: white;
    padding-top: 40px;
}
.col-6{
    color: white;
    font-size: .8rem;
    padding: 40px;
}
.col-6 h5{
    padding: 1rem 0;
}
.col-6 p{
    padding: 0;
}
@media (max-width: 768px){
.offset-md-4 {
    margin-left: 0;
}
.col-6 p{
    font-size: 0.5rem;
}
.col-6{
    padding: 0;
}
}
/* Styles for our team section */
.team-title hr{
    width: 25%;
    margin-left: 70px;
    position: relative;
    bottom: 15px;
}
.team-text p:first-child{
    font-style: italic;
    font-weight: bold;
}
.team-img{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.team-item p{
    margin: 0 0;
    text-align: center;
}
.team-img img{
    margin: .5rem .5rem;
}
.team-item p:first-of-type{
    font-weight: bold;
}
.team-item p:last-of-type{
    font-style: italic;
}

/* Styles for testimonials section */
.testimonials{
    background-color: black;
    color: white;
    margin-top: 5rem;
}
.testimonials-title h1{
    font-size: 3.1rem;
    padding-top: 2rem;
}
.testimonials-title hr{
    width: 100px;
    padding-left: 100px;
    color: 1px white;
}
.testimonials-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}
.testimonials-text{
    padding-left: 50px;
    width: 55%;
    font-size: .9rem;
}
.testimonials-img{
    text-align: center;
    width: 40%;
}
.testimonials-img p{
    text-align: center;
    margin: 0 0;
}
.testimonials-img p:last-of-type{
    font-style: italic;
    color: #787878;
}
.circle-for-img{
    border: 2px solid #ffc600;
    border-radius: 50%;
    width: 100px;
}
.testimonials-text p:first-of-type{
    font-style: italic;
}

/* Styles for blog section */

.blogs{
    margin: 2rem 0;
}
.blogs-title{
    padding: 1rem 0;
}
.blogs-menu li{
    list-style: none;
    padding: .5rem 0;
}
.blogs-menu li:hover{
    color: #ffc600;
    cursor: pointer;
}
.blogs-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs-info-item{
    width: 33%;
}
.blogs-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}
.blogs-info-item img{
    width: 180px;
    height: 206px;
}
.blogs-info-item p{
    font-size: 1rem;
    padding: 0;
    width: 80%;
}
.blogs-info-item p:first-of-type{
    font-weight: bold;
}
.blogs-info-item p:nth-of-type(2){
    font-weight: bold;
}
.blogs-info-item p:last-of-type{
    font-style: italic;
    font-size: .8rem;
}

/* Styles for contact section */
.contact{
    margin: 3rem 0;
}
.contact-us{
    display: flex;
}
.location{
    width: 40%;
    background-image: url('../img/Layer\ 52@1X.png');
    background-position: center;
    background-repeat: repeat;
}
.contact-form{
    background-color: #2046b3;
    width: 60%;
    padding-left: 4rem;
    padding-top: 1rem;
    color: white;
}
.border-sublime{
    background-color: black;
    border-radius: 50%;
    border: 2px solid #ffc600;
    width: 50px;
    height: 50px;
    margin-top: 20rem;
    margin-left: 20rem;
}
.border-sublime p{
    color: white;
    font-size: .7rem;
    font-weight: bold;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 13px;
}
@media screen and (max-width: 945px) {
    .border-sublime{
        display: none;
    }
}
.contact-title{
    color: white;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
form input, form textarea{
    background-color: #2046b3;
    border: 2px solid #c5c5c5;
    padding: .5rem;
}
form input:first-of-type{
    width: 50%;
}
form input:nth-of-type(2){
    width: 210px;
}
form input:last-of-type{
    width: 210px;
}
form textarea{
    width: 50%;
}
.button{
    background-color: #ffc600;
    text-transform: uppercase;
    font-weight: bold;
    width: 108px;
}
.contact-info h6{
    padding: 2rem;
}
.contact-info p{
    padding-left: 2rem;
}
.contact-info span{
    margin-left: 2rem;
    font-size: .8rem;
}
.contact-info a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.contact-info a:hover{
    color: #ffc600;
}
.social{
    font-size: 2rem;
}

/* Styles for footer */
footer{
    background-color: black;
    margin-bottom: 2rem;
}
.footer-title{
    width: 30%;
    color: white;
    padding-left: 1rem;
}
.left-menu{
    padding-left: 0;
}
.footer-title h1{
    font-size: 5rem;
}
.footer-title li{
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .5rem 0;
}
.footer-title li:hover{
    color: #ffc600;
    cursor: pointer;
}
.footer-container{
    display: flex;
}
.footer-content{
    background-image: url('../img/Layer\ 47@1X.png');
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
}
.footer-content h1{
    font-size: 4.8rem;
    padding-top: 345px;
    padding-left: 2rem;
}
@media screen and (max-width: 910px) {
    .footer-content h1{
        padding-left: 0;
        padding-top: 200px;
    }
    .footer-title h1{
        font-size: 2rem;
    }
}